@import url("https://fonts.googleapis.com/css?family=Lobster|Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* color: var(--mainBlack); */
  background: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}

/*SECTION  ColorScheme */

:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #333333;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainGold: #FFD700;
  --darkGold: #bf9456;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

/* SECTION Global Usage */

.wrapper {
  margin-top: 10rem;
}

.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 20rem;
}

a {
  color: var(--mainBlack);
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: var(--darkGrey);
  text-decoration: none;
  background-color: transparent;
}

/* SECTION NAVBAR */

.main-header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: var(--mainBlack);
  color: var(--mainWhite);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.main-header i {
  background-image: url(./images/icon.png);
  width: 6rem;
  height: 6rem;
  background-size: 6rem 6rem;
  background-repeat: no-repeat;
  /* margin: 0rem 0 0rem 0rem; */
}

.main-header .brand {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 2rem 0 2rem 0rem;
  margin-top: 2rem;
}

.main-nav {
  position: fixed;
  top: 3%;
  left: 0;
  width: 100%;
  padding: .5rem 0rem 1rem 4rem;
  /* background: var(--offWhite); */
  z-index: 1;
}

.main-header .main-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 5rem;
}

.main-nav .nav-link {
  list-style: none;
  padding: 1rem;
  /* opacity: 0; */
}

.nav-link a {
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--mainWhite);
}

/* SECTION PAGINATION */

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}

.list-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.list-group-horizontal {
  -ms-flex-direction: row;
  flex-direction: row;
}

.pagination ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--mainBlack);
}

.page-item li {
  float: left;
}

.page-item li a {
  display: block;
  color: var(--mainWhite);
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.page-item li a:hover {
  background-color: var(--primaryColor);
}

/* SECTION HOME */

/* SECTION Item */

.item-container {
  width: auto;
}

/* SECTION Error */

/* SECTION BANNER */

.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  margin-top: 6rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner h1 {
  font-size: 2.5rem;
}

.banner div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}

.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.banner img {
  width: 10rem;
  height: 12rem;
}

@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}

.banner h1 {
  font-size: 4rem;
}